{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row"><br>
  	    <div class="row mb-4"> 
{% for p in pro_list_all %}

  <div class="col-sm-3 ">
  	<div class="card mr-4" style="float:left;margin-top: 4rem" >
  <a class="thumbnail" href="{% url 'product_detail' p.pk %}" title="lorem ippsum dolor dummy">
  <img class="card-img-top" style="height: 250px;width:250px" src="/media/{{p.image}}" alt="Card image"></a>
  <div class="card-body">
    <h4 class="card-title">{{p.name}}</h4>
    <p class="card-text">$ {{p.price}}</p>
  </div>
              <div class="btn-group" style="float:center;">
             <a href="{% url 'wish_list' p.pk %}">
                <button type="button" data-toggle="tooltip" class="btn btn-default wishlist" title="Add to Wish List" ><i class="fa fa-heart-o"></i></button></a>

                <a href="{% url 'add_to_cart' p.pk %}">
                <button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block addtocart">Add to Cart</button></a>
                <a href="">
                <button type="button" data-toggle="tooltip" class="btn btn-default compare" title="Compare this Product" ><i class="fa fa-exchange"></i></button></a>

              </div>
</div>
</div>
{% endfor %}

{% for p in product %}

  <div class="col-sm-3 ">
    <div class="card mr-4" style="float:left;margin-top: 4rem" >
  <a class="thumbnail" href="{% url 'product_detail' p.pk %}" title="lorem ippsum dolor dummy">
  <img class="card-img-top" style="height: 250px;width:250px" src="/media/{{p.image}}" alt="Card image"></a>
  <div class="card-body">
    <h4 class="card-title">{{p.name}}</h4>
    <p class="card-text">$ {{p.price}}</p>
  </div>
              <div class="btn-group">
             <a href="{% url 'wish_list' p.pk %}">
                <button type="button" data-toggle="tooltip" class="btn btn-default wishlist" title="Add to Wish List" ><i class="fa fa-heart-o"></i></button></a>

                <a href="{% url 'add_to_cart' p.pk %}">
                <button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block addtocart">Add to Cart</button></a>
                <a href="#">
                <button type="button" data-toggle="tooltip" class="btn btn-default compare" title="Compare this Product" ><i class="fa fa-exchange"></i></button></a>

              </div>
</div>
</div>
{% endfor %}
{% for p in category_post %}

  <div class="col-sm-3 ">
    <div class="card mr-4" style="float:left;margin-top: 4rem" >
  <a class="thumbnail" href="{% url 'product_detail' p.pk %}" title="lorem ippsum dolor dummy">
  <img class="card-img-top" style="height: 250px;width:250px" src="/media/{{p.image}}" alt="Card image"></a>
  <div class="card-body">
    <h4 class="card-title">{{p.name}}</h4>
    <p class="card-text">$ {{p.price}}</p>
  </div>
              <div class="btn-group">
             <a href="{% url 'wish_list' p.pk %}">
                <button type="button" data-toggle="tooltip" class="btn btn-default wishlist" title="Add to Wish List" ><i class="fa fa-heart-o"></i></button></a>

                <a href="{% url 'add_to_cart' p.pk %}">
                <button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block addtocart">Add to Cart</button></a>
                <a href="#">
                <button type="button" data-toggle="tooltip" class="btn btn-default compare" title="Compare this Product" ><i class="fa fa-exchange"></i></button></a>

              </div>
</div>
</div>
{% endfor %}
            </div>
        </div>
        <style type="text/css">
  .pagination {
    text-align: center;
    margin-top: 2em;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #ef8829;
}

.pagination-number:hover,
.pagination-current {
    background-color:black;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #3354AA;
}
</style>
    <div class="pagination" >
    {% if pro_list_all.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ pro_list_all.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in pro_list_all.paginator.page_range %}
        {% if pro_list_all.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > pro_list_all.number|add:'-3' and num < pro_list_all.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if pro_list_all.has_next %}
        <a class="pagination-action" href="?page={{ pro_list_all.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ pro_list_all.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>1
    {% endif %}
</div>

   <div class="pagination" >
    {% if category_post.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ category_post.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in category_post.paginator.page_range %}
        {% if category_post.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > category_post.number|add:'-3' and num < category_post.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if category_post.has_next %}
        <a class="pagination-action" href="?page={{ category_post.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ category_post.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>1
    {% endif %}
</div>

<div class="pagination" >
    {% if product.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ product.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in product.paginator.page_range %}
        {% if product.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > product.number|add:'-3' and num < product.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if product.has_next %}
        <a class="pagination-action" href="?page={{ product.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ product.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>1
    {% endif %}
</div>
    </div>
{% endblock %}
