{% extends 'blog/base.html' %}

{% block content %}
<style type="text/css">
	.t:hover{
    
    color: #FFA233;
    background-color: #FFFFFF  ;
    border-color: #FFA233;
    border-width:1px;
    border-style:outset;
}
.t{
  background-color:#FFA233 ; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;

}
.tt{
  text-align: center;
}
</style>
<div class="container">
     <div class="table-responsive">
     	{% if wishh.count >= 1 %}
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">Image</td>
                <td class="text-left">Product Name</td>
                <td class="text-left">Brand</td>
                <td class="text-left">Price</td>
                <td class="text-left">Remove</td>
                <td></td>
                
              </tr>
            </thead><br>
            <tbody>

              {% for p in wishh %}
              <tr>
                <td class="text-center"><a href="{% url 'product_detail' p.item.pk %}"><img height="150" width="150" class="img-thumbnail" title="women's clothing" alt="women's clothing" src="/media/{{p.item.image}}"></a></td>
                <td class="text-left"><a href="{% url 'product_detail' p.item.pk %}">{{p.item.name}}</a></td>
                <td class="text-left">{{p.item.brand_name}}</td>
                <td>{{p.item.price}}</td>
                <td ><div style="max-width: 200px;" class="input-group btn-block">
                <a href="{% url 'remove_wish' p.item.pk %}"><button  class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Remove"><i class="fa fa-times-circle"></i></button></a>
                    </span>
                  </div>
                </td>
                <td><button type="button" class="t" ><a href="{% url 'add_to_cart' p.item.pk %}">Add to Card</a></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}<br>
          <h1 class="tt"> No Item in Your Wish List</h1>
          {% endif %}
        </div>
</div>
{% endblock %}